.button {
  background: linear-gradient(150deg, var(--color-blue), var(--color-grey));
  padding: 8px 10px;
  border-radius: 10px;
  text-align: center;
  display: flex;
  color: white;
  text-shadow: 1px 1px #000;
  font-family: "Noto Sans", sans-serif;
  align-items: center;
  width: 100%;
  border: none;
  cursor: pointer;
  transition: transform 0.2s ease, background 0.3s ease;
  outline: none;
  font-size: large;
  margin: 10px 0;
}

.button:hover {
  transform: scale(1.05);
  background: linear-gradient(150deg, var(--color-grey), var(--color-blue));
}

.button:active {
  transform: scale(0.95);
}
