.uploadButton {
  background: none;
  border: none;
  cursor: pointer;
  font-family: "Noto Sans", sans-serif;
  font-size: 24px;
  color: #007bff;
}

.uploadText {
  font-size: 14px;
  font-family: "Noto Sans", sans-serif;
  margin-top: 5px;
}

.processText {
  margin-top: 20px;
  padding: 10px 20px;
  background-color: #007bff;
  font-family: "Noto Sans", sans-serif;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.image_name {
  font-size: 12px;
}

.image_process_status {
  font-family: "Noto Sans", sans-serif;
  font-size: 12px;
}
