/**
 * Game Section
 */


.game__board {
  font-family: "Noto Sans", sans-serif;
  font-size: 26px;
  margin: 30px 0;
  border: 2px solid #666666;
  border-collapse: collapse;
}

.game__row {
  height: 40px;
}

.game__row:nth-child(3n) {
  border-bottom: 2px solid #666666;
}

.game__cell {
  border: 1px solid #dddddd;
  padding: 12px 16px;
  cursor: pointer;
  color: #333333;
}

.game__cell:nth-child(3n) {
  border-right: 2px solid #666666;
}
