.game_board {
  font-family: "Noto Sans", sans-serif;
  font-size: 26px;
  margin: 30px 0;
  border: 2px solid var(--color-grey-dark);
  border-collapse: collapse;
}

.game_row {
  height: 40px;
}

.game_row:nth-child(3n) {
  border-bottom: 2px solid var(--color-grey-dark);
}

.game_cell {
  border: 1px solid var(--color-grey-light);
  padding: 12px 16px;
  cursor: pointer;
  color: #333333;
}

.game_cell:nth-child(3n) {
  border-right: 2px solid var(--color-grey-dark);
}
